<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8"/>
    <title>Витрина товаров</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script th:src="@{/js/cart.js}"></script>
</head>

<body>
<a href="/catalog/items" style="float:right;">
    <b>ГЛАВНАЯ &cudarrr;</b>
</a>
<div sec:authorize="isAuthenticated()">
    <a href="/orders" style="float:right;">
        <b>ЗАКАЗЫ &cudarrr;</b>
    </a>
    <a href="/cart/items" style="float:right;">
        <b>КОРЗИНА &cudarrr;</b>
    </a>
    <a href="/logout" style="float:right;">
        <b>Выйти &cudarrr;</b>
    </a>
</div>
<div sec:authorize="isAnonymous()">
    <a href="/login" style="float:right;">
        <b>Войти &cudarrr;</b>
    </a>
    <a href="/register" style="float:right;">
        <b>Зарегистрироваться &cudarrr;</b>
    </a>
</div>


<!-- Обертка для каждого товара. data-item-id и класс item-card -->
<div class="item-card" style="width:70%;margin-left:auto;margin-right:auto;" th:data-item-id="${item.getId()}">
    <p>
        <img height = "300" th:src="@{/catalog/images/{id}(id = ${item.getId()})}"/>
    </p>
    <p>
        <b th:text="${item.getTitle()}"></b>
        <b th:text="${item.getPrice()}+' руб.'" style="text-align:right;"></b>
    </p>
    <div th:each="paragraph : ${item.getTextParts()}">
        <p th:text="${paragraph}"></p>
    </div>

    <form class="cart-form" sec:authorize="isAuthenticated()">
        <button type="button" name="action" value="MINUS">-</button>
        <span th:text="${item.getQuantity()}"></span>
        <button type="button" name="action" value="PLUS">+</button>
        <button type="button" class="add-to-cart" name="action" value="PLUS">В корзину</button>
    </form>
</div>

</body>
</html>