<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8"/>
<head>
    <title>Заказ</title>
</head>

<body>
<a href="/orders" style="float:right;">
    <b>ЗАКАЗЫ &cudarrr;</b>
</a>
<a href="/cart/items" style="float:right;">
    <b>КОРЗИНА &cudarrr;</b>
</a>
<a href="/catalog/items" style="float:right;">
    <b>ГЛАВНАЯ &cudarrr;</b>
</a>
<h1 style="text-align:center" th:if="${newOrder}">Поздравляем! Успешная покупка! &#128578;</h1>
<table style="width:70%;margin-left:auto;margin-right:auto;">
    <tr>
        <td>
            <h2 th:text="${'Заказ №'+order.getId()}"></h2>
        </td>
    </tr>
    <tr th:each="item : ${order.getItems()}">
        <td>
            <table>
                <tr>

                    <td style="width: 100px; vertical-align: top;">
                        <img height="300" th:src="@{/catalog/images/{id}(id = ${item.getId()})}"/>
                    </td>
                    <td style="width: 300px; padding-left: 20px; display: flex; flex-direction: column; justify-content: space-between;">
                        <div><b th:text="${item.getTitle()}"></b></div>
                    </td>
                    <td style="padding-left: 20px; vertical-align: top;">
                        <b th:text="${item.getQuantity()}+' шт.'"></b>
                    </td>
                    <td style="padding-left: 20px; vertical-align: top;">
                        <b th:text="${item.getPrice()*item.getQuantity()}+' руб.'"></b>
                    </td>

                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td>
            <h3 th:text="${'Сумма: '+ order.getTotalAmount()} + ' руб.'"></h3>
        </td>
    </tr>
</table>
</body>

</html>