<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8"/>
    <title>Test</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script th:src="@{/js/cart.js}"></script>
</head>

<body>
<a href="/catalog/items" style="float:right;">
    <b>ГЛАВНАЯ &cudarrr;</b>
</a>
<div sec:authorize="isAuthenticated()">
    <a href="/orders" style="float:right;">
        <b>ЗАКАЗЫ &cudarrr;</b>
    </a>
    <a href="/cart/items" style="float:right;">
        <b>КОРЗИНА &cudarrr;</b>
    </a>
    <a href="/logout" style="float:right;">
        <b>Выйти &cudarrr;</b>
    </a>
</div>
<div sec:authorize="isAnonymous()">
    <a href="/login" style="float:right;">
        <b>Войти &cudarrr;</b>
    </a>
</div>


<b  th:text="'Имя: '+${username}"></b>

</body>
</html>