<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8"/>
<head>
    <title>Корзина товаров</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script th:src="@{/js/cart.js}"></script>
    <style>
        .out-of-stock {
            opacity: 0.3;
        }
        .stock-remaining {
            font-size: smaller;
            color: gray;
        }
    </style>
</head>

<body>
<a href="/orders" style="float:right;">
    <b>ЗАКАЗЫ &cudarrr;</b>
</a>
<a href="/catalog/items" style="float:right;">
    <b>ГЛАВНАЯ &cudarrr;</b>
</a>
<table style="width:70%;margin-left:auto;margin-right:auto;">
    <tr th:each="item : ${items}">
        <td>
            <div class="item-card" th:data-item-id="${item.getId()} " th:data-stock-quantity="${item.getStockQuantity()}">
                <table>
                    <tr>
                        <td style="width: 100px; vertical-align: top;">
                            <img height="300" th:src="@{/catalog/images/{id}(id = ${item.getId()})}"
                                 th:classappend="${item.getStockQuantity() < item.getCartQuantity() ? 'out-of-stock' : ''}"/>
                        </td>
                        <td style="width: 300px; padding-left: 20px; display: flex; flex-direction: column; justify-content: space-between;">
                            <div><b th:text="${item.getTitle()}"></b></div>
                            <form class="cart-form" style="padding-top: 20px;">
                                <button type="button" name="action" value="delete">&cross;</button>
                            </form>
                        </td>
                        <td style="padding-left: 20px; vertical-align: top;">
                            <b th:text="${item.getPrice()} + ' руб.'"></b>
                        </td>
                        <td style="vertical-align: top;">
                            <form class="cart-form" style="padding-left: 20px;">
                                <button type="button" class="minus quantity-button" name="action" value="minus" th:disabled="${item.getStockQuantity() <= 0}">-</button>
                                <span class="cart-quantity" th:text="${item.getCartQuantity()}"></span>
                                <button type="button" class="plus quantity-button" name="action" value="plus" th:disabled="${item.getStockQuantity() <= item.getCartQuantity()}">+</button>
                                <div class="stock-remaining" th:if="${item.getStockQuantity() < item.getCartQuantity()}">
                                    Осталось <span class="stock-quantity" th:text="${item.getStockQuantity()}"></span> шт.
                                </div>
                            </form>
                        </td>
                    </tr>
                </table>
            </div>


        </td>
    </tr>
    <tr>
         <td style="text-align:right">
                        <b id="total-price"  th:text="'Итого: '+${total}+' руб.'"></b>
                    </td>
                </tr>

                <tr>
                    <td style="text-align:right">
                        <form action="/buy" method="post" th:if="${!#lists.isEmpty(items)}">
                            <button>Купить</button>
                        </form>
                    </td>
                </tr>
            </table>
            </body>
            </html>