<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Витрина товаров</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
</head>

<body>
<div class="container">
    <a href="/orders" style="float:right;">
        <b>ЗАКАЗЫ &cudarrr;</b>
    </a>
    <a href="/cart/items" style="float:right;">
        <b>КОРЗИНА &cudarrr;</b>
    </a>

    <div class="filter-form">
        <form>
            <p>
                <label for="search">Найти: </label>
                <input id="search" style="width:300px;" name="search" th:value="${search}">
                <button name="action">&#128269;</button>
            </p>
            <p>
                <label for="sort">Сортировка: </label>
                <select id="sort" name="sort" onchange="this.form.submit()">
                    <option value="NO" th:selected="${sort=='NO'}">нет</option>
                    <option value="ALPHA" th:selected="${sort=='ALPHA'}">по алфавиту</option>
                    <option value="PRICE" th:selected="${sort=='PRICE'}">по цене</option>
                </select>
            </p>
            <p>
                <label for="pageSize">Число товаров: </label>
                <select id="pageSize" name="pageSize" onchange="this.form.submit()">
                    <option value="5" th:selected="${paging.getSize()==5}">5</option>
                    <option value="10" th:selected="${paging.getSize()==10}">10</option>
                    <option value="20" th:selected="${paging.getSize()==20}">20</option>
                    <option value="50" th:selected="${paging.getSize()==50}">50</option>
                    <option value="100" th:selected="${paging.getSize()==100}">100</option>
                </select>
            </p>
            <p>
                <button th:if="${paging.hasPrevious()}" name="pageNumber" th:value="${paging.getNumber()-1}">&lt;</button>
                <span th:text="${'Страница: '+paging.getNumber()}"></span>
                <button th:if="${paging.hasNext()}" name="pageNumber" th:value="${paging.getNumber()+1}">&gt;</button>
            </p>
        </form>
    </div>

    <div class="items-grid">
        <div class="item-card" th:each="item : ${items}">
            <a th:href="${'/items/'+item.getId()}">
              <!--  <img class="item-image" th:src="${'http://localhost:8080/'+item.getImgPath()}" alt="Item Image"/> -->

                <img height = "300" th:src="@{/catalog/images/{id}(id = ${item.getId()})}"/>
            </a>

            <div class="item-title" th:text="${item.getTitle()}"></div>
            <div class="item-price" th:text="${item.getPrice() + ' руб.'}"></div>
            <!--<div class="item-description" th:text="${item.getDescriptionPreview()}"></div>-->
            <form class="cart-form" th:action="${'/main/items/'+item.getId()}" method="post">
                <button name="action" value="minus">-</button>
                <span th:text="${item.getCount()}"></span>
                <button name="action" value="plus">+</button>
                <button name="action" value="plus" th:if="${item.getCount()==0}" style="float:right;">В корзину</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>