<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Витрина товаров</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script th:src="@{/js/cart.js}"></script>
</head>

<body>
<a href="/orders" style="float:right;">
    <b>ЗАКАЗЫ &cudarrr;</b>
</a>
<a href="/cart/items" style="float:right;">
    <b>КОРЗИНА &cudarrr;</b>
</a>
<a href="/catalog/items" style="float:right;">
    <b>ГЛАВНАЯ &cudarrr;</b>
</a>

<!-- Обертка для каждого товара. data-item-id и класс item-card -->
<div class="item-card" style="width:70%;margin-left:auto;margin-right:auto;" th:data-item-id="${item.getId()}">
    <p>
        <img height = "300" th:src="@{/catalog/images/{id}(id = ${item.getId()})}"/>
    </p>
    <p>
        <b th:text="${item.getTitle()}"></b>
        <b th:text="${item.getPrice()}+' руб.'" style="text-align:right;"></b>
    </p>
    <div th:each="paragraph : ${item.getTextParts()}">
        <p th:text="${paragraph}"></p>
    </div>

    <form class="cart-form">
        <button type="button" name="action" value="minus">-</button>
        <span th:text="${item.getCartQuantity()}"></span>
        <button type="button" name="action" value="plus">+</button>
        <button type="button" class="add-to-cart" name="action" value="plus">В корзину</button>
    </form>
</div>

</body>
</html>